<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link th:href="@{/css/heart-button.css}" rel="stylesheet">
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Главная</title>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Wild Beers</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">button</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Сервисы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Вакансии</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Категории
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Электроника</a></li>
                        <li><a class="dropdown-item" href="#">Для дома и дачи</a></li>
                        <li><a class="dropdown-item" href="#">Хобби и отдых</a></li>
                        <li><a class="dropdown-item" href="#">Животные</a></li>
                        <li><a class="dropdown-item" href="#">Авто</a></li>
                        <li><a class="dropdown-item" href="#">Запчасти и аксессуары</a></li>
                    </ul>
                </li>
            </ul>
<!--            <div class="heart-container" sec:authorize="isAuthenticated()">-->
<!--                <i class="fa-heart js-heart heart fa-2x" th:data-shop-id="${shop.getId()}" th:classappend="${ favorite.findShopById(shop.getId()) >= 0 ? 'fas' : 'far'}" id="shop-heart"></i>-->
<!--            </div>-->

            <ul class="d-flex navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize = "!isAuthenticated()">
                    <a class="nav-link text-primary" aria-current="page" href="/login">Войти</a>
                </li>
                <li class="nav-item" sec:authorize = "!isAuthenticated()">
                    <a class="nav-link text-primary" aria-current="page" href="/signup">Зарегистрироваться</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" aria-current="page" href="/user" sec:authorize = "isAuthenticated()">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" aria-current="page" href="/logout">Выход</a>
                </li>




            </ul>
<!--Корзина-->
            <a class="cart-icon" href="/cart/"><img src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/64/000000/external-cart-ecommerce-icongeek26-outline-gradient-icongeek26.png"/></a>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>

<a href="/items/newItem">Create new Item</a>

<div class="dropdown ms-3">
    <button class="btn btn-info dropdown-toggle text-white" data-toggle="dropdown" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">Меню</button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Мой профиль</a></li>
        <li><a class="dropdown-item" href="#">Мои покупки</a></li>
        <li><a class="dropdown-item" href="#">Мои доставки</a></li>
        <li><a class="dropdown-item" href="/favorite/">Избранное</a></li>
<!--        <li><a class="dropdown-item" href="/cart/">Моя корзина</a></li>-->
        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-envelopes"></i></a></li>
    </ul>
</div>

<div class="container-fluid">
    <h1 class="text-center">Товары для вас</h1>
    <a class="nav-link text-primary" aria-current="page" href="/items">Все товары</a>
    <div class="row-fluid row centered d-flex" >
        <div class="col-3 justify-content-center" th:each="item : ${bestRatingItems}">
                <div th:replace="productCard::productCard(
                                name=${item.name},
                                price=${item.price},
                                basePrice=${item.basePrice},
                                img=*{item.getImageDto().getImageInBase64WithMimetypePrefix()},
                                rating=${item.rating},
                                description=${item.description},
                                isFavorite=${ favorite != null ? favorite.findItemById(item.getId()) : null },
                                itemId=${item.getId()}
                                )">
                </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <h1 class="text-center" >Подборка магазинов</h1>
    <a class="nav-link text-primary" aria-current="page" href="/shops">Все магазины</a>
    <div class="row-fluid row centered d-flex justify-content-center">
        <div class="col-3" th:each="shop : ${bestRatingShops}">
            <div class="card d-flex align-self-stretch">
                <img class="card-img-top rounded mx-auto" src="#"
                     th:src="*{shop.getLogo().getImageInBase64WithMimetypePrefix()}"
                     alt="Photo" height="300">
                <div class="card-body">
                    <h5 class="card-title" th:text="${shop.getName()}"></h5>
                    <div class="d-flex justify-content-between">
                        <a th:href="@{/shop/id/{id}(id=${shop.getId()})}" class="btn btn-info text-white" role="button">Перейти</a>
                        <div class="heart-container" sec:authorize="isAuthenticated()">
                            <i class="fa-heart js-heart heart fa-2x" th:data-shop-id="${shop.getId()}" th:classappend="${ favorite.findShopById(shop.getId()) >= 0 ? 'fas' : 'far'}" id="shop-heart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a style="text-indent: 1350px; color: #8c8588;" th:href="@{/feedback_service}">Обратная связь</a>

</body>
<script type="text/javascript" th:src="@{/js/heart-button.js}"></script>
</html>