<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
</head>
<body>

<h1 style="text-indent: 25px;"    th:text="${item.getName()}" >itemImage</h1>
<br>
<img class="image" th:src="*{item.getImageDto().getImageInBase64WithMimetypePrefix()}" alt="Photo"/>
<br>
<p>Только сегодня и только сейчас купи всего за:  </p>
<p style="text-indent: 25px;"    th:text="${item.getPrice()}" >Price</p>
<br>
<p >Почему это нужно купить: </p>
<p style="text-indent: 25px;"  class="navbar-brand"  th:text="${item.getDescription()}" >Desc</p>
<p>Скорее оформляй заказ!Жми на кнопку: </p>
<form th:method = "POST" th:action="@{/cart/addItem/{id}(id = ${item.getId()})}" th:object = "${item}">
    <button class="btn btn-primary btn-add-to-cart"
            th:data-item-id="${itemId}" data-quantity="1" type = "submit">В корзину
    </button>
</form>
<!--<form th:method="DELETE" th:action="@{/items/{id}(id=${item.getId()})}">-->
<!--<button type="submit" class="btn btn-danger btn btn-primary">Delete</button>-->
<!--</form>-->
<a th:href="@{/items/{id}/edit(id=${item.getId()})}">Edit</a>
<br>

<!--_____________________________________________________________-->
<li class="nav-item" sec:authorize = "!isAuthenticated()">
<a>Чтобы оставить свой отзыв о товаре </a>
<a href="/login">ВОЙДИТЕ</a>
<a>или</a>
<a href="/signup">ЗАРЕГИСТРИРУЙТЕСЬ</a>
</li>
<li class="nav-item" sec:authorize = "isAuthenticated()">
<p>Оставить свой отзыв: </p>
<form action="#" th:action="@{/items/{id}(id = ${item.getId()})}" th:object="${review}" method="post">
    <table>
        <tr>
            <td><label for="dignity">Плюсы товара:</label></td>
            <td><input th:field="*{dignity}" type="text" id="dignity" required></td>
        </tr>
        <tr>
            <td><label for="flaw">Минусы товара:</label></td>
            <td><input th:field="*{flaw}" type="text" id="flaw" required></td>
        </tr>
        <tr>
            <td><label for="text">Ваш отзыв:</label></td>
            <td><input th:field="*{text}" type="text" id="text" required></td>
        </tr>
        <tr>
            <td><input type="reset" value="Очистить форму"/></td>
            <td><input type="submit" value="Оставить отзыв"></td>
        </tr>
    </table>
</form>
</li>
<!--___________________________________________________________________________-->
<p>Отзывы: </p>
<th:block th:each="review : ${reviews}">
    </br>
<table class="table table-bordered"  id="table">
    <tr>
        <th >Отправитель: </th>
        <th><p  th:utext="${review.getUser().getUsername()}" >username</p></th>
    </tr>
        <tr >
            <th >Дата: </th>
            <th><p    th:text="${review.getDate()}" >flaw</p></th>
        </tr>
    <tr>
        <th >Плюсы: </th>
        <th><p   th:text="${review.getDignity()}" >dignity</p></th>
    </tr>
        <tr>
            <th >Минусы: </th>
            <th><p   th:text="${review.getFlaw()}" >flaw</p></th>
        </tr>
        <tr>
            <th >Отзыв: </th>
            <th><p   th:text="${review.getText()}" >flaw</p></th>
        </tr>
</table>
</th:block>


<a style="text-indent: 1350px; color: #8c8588;" th:href="@{/}">Вернуться на главную страницу</a>
<a style="text-indent: 1350px; color: #8c8588;" th:href="@{/feedback_service}">Обратная связь</a>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
</html>