<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login custom</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Email</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Email" required
                   autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required>
        </p>
        <div class="form-group">
            <label class="control-label col-xs-2" for="code"> Code:</label>
            <div class="col-xs-10">
                <input id="code" type="text" name="code"/>
            </div>
            <br/>
            <p class="text-muted col-xs-10">
                Используйте приложение Google Authenticator для получения одноразового кода</p>
        </div>
        <p>
            <a th:href="@{/code}" class="btn btn-lg btn-light btn-block">Получить одноразовый код</a>
        </p>
        <p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </p>
        <p>
            <a th:href="@{/oauth2/authorization/google}" class="btn btn-lg btn-light btn-block">Войти через Google</a>
        </p>

        <a  class="btn btn-lg btn-light btn-block" type="button"  data-toggle="modal" data-target="#exampleModal" >Зарегестрироваться</a>
    </form>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Регистрация нового пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" th:action="@{/signup}" th:object="${newUser}" method="post">
                        <table>
                            <tr>
                                <td><label for="emailId">Email</label></td>
                                <td><input th:field="*{email}" id="emailId" type="email" name="emailId" required></td>
                            </tr>
                            <tr>
                                <td><label for="password">Password</label></td>
                                <td><input th:field="*{password}" type="password" name="password" required></td>
                            </tr>
                            <tr>
                            </tr>
                        </table>
                        <td><input type="reset" value="Очистить форму"/></td>
                        <td><input type="submit" value="Зарегистрироваться"></td>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>



</body>

</html>