<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h>Добавить адрес</h>
<form class="row g-3"  th:action="@{/address}" th:object="${address}" th:method="POST">
  <span>Наименование</span>
  <br>
  <input type="text" th:field="${address.country}"/>
  <br>
  <span>Цена</span>
  <br>
  <input type="number" th:field="${address.cityIndex}"/>
  <br>
  <span>Базовая цена</span>
  <br>
  <input type="number" th:field="${address.city}"/>
  <br>
  <span>Количество</span>
  <br>
  <input type="number" th:field="${address.house}"/>
  <br>
  <span>Скидка</span>
  <br>
  <input type="number" th:field="${address.street}"/>
  <br>


  <input class="button" type="submit" value="Создать">
</form>

</body>
</html>