<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html"
      lang="">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <meta charset="UTF-8" />
    <title>Sales History Report</title>
</head>
<body>
<!--Навбар-->
<nav class="navbar bg-dark navbar-dark fixed-top">
    <form class="form-inline">

        <!--Кнопка фильтра-->
        <div class="btn-group btn-group" role="group" aria-label="Second group">
            <button type="button" class="btn btn-outline-dark bg-light btn-white text-secondary float-right"
                    data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">
                <svg aria-hidden="true" class="svg-icon iconFilter" width="19" height="19" viewBox="0 0 19 19">
                    <path d="M2 4h14v2H2V4Zm2 4h10v2H4V8Zm8 4H6v2h6v-2Z"></path>
                </svg>
                Фильтр
            </button>
        </div>
        <!--Тело фильтра-->
        <div class="collapse" id="collapseExample">
            <div class="card card-body bg-light">
                <div class="container">

                    <div class="row">
                        <div class="col">
                            <form class="form-inline">
                                <div class="row">
                                    <H6>Выберите отчетный период</H6>
                                </div>
                                <!--Фильтр за неделю, месяц, полугодие, год, все время-->
                                <div class="row">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="typeOfFilter" id="options1" autocomplete="off"
                                                   value="Week"/> Неделя
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="typeOfFilter" id="options2" autocomplete="off"
                                                   value="Month"/> Месяц
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="typeOfFilter" id="options3" autocomplete="off"
                                                   value="HalfYear"/> Полугодие
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="typeOfFilter" id="options4" autocomplete="off"
                                                   value="Year"/> Год
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="typeOfFilter" id="options5" autocomplete="off"
                                                   value="AllTheTime"/> За всё время
                                        </label>
                                        <label class="btn btn-secondary" data-toggle="collapse" href="#collapseExample2"
                                               aria-expanded="false"
                                               aria-controls="collapseExample2">
                                            <input type="radio" name="typeOfFilter" id="options7" autocomplete="off"
                                                   value="FromDateToDate"/>
                                            Задать период:
                                        </label>


                                    </div>

                                    <!--Выплывающее окно с датами-->
                                    <div class="collapse" id="collapseExample2">
                                        <div class="card card-body bg-light">
                                            <div class="form-group">
                                                <b>С</b>
                                                <div class="input-group date" id="datetimepicker7">
                                                    <input type="date" name="date1" class="form-control"/>
                                                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                                                </div>

                                                <b>По</b>
                                                <div class="input-group date" id="datetimepicker8">
                                                    <input type="date" name="date2" class="form-control"/>
                                                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-calendar"></i>
                </span>
                                                </div>
                                            </div>
                                            </br>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    </br>
                                </div>
                                <div class="row">
                                    <H6>Выберите наименование(я) товара(ов)</H6>
                                </div>
                                <!--Фильтр по конкретному товару-->
                                <div class="row">
                                    <div class="btn-group btn-group" role="group" aria-label="Second group">
                                        <button type="button" class="btn btn-secondary"
                                                data-toggle="collapse" href="#collapseExample3" aria-expanded="false"
                                                aria-controls="collapseExample">
                                            Категория(и)/Товар(ы)
                                        </button>
                                    </div>

                                    <div class="collapse" id="collapseExample3">
                                        <div class="card card-body bg-light">
                                            <div class="d-flex align-items-start p-0">

                                                <div th:each="category : ${categories}">

                                                    <div class="p-1">
                                                        <label class="btn btn-dark">
                                                            <input th:attr="data-id=${category.getId()}"
                                                                   class="checkbox_parent"
                                                                   type="checkbox" id="checkbox" autocomplete="on"
                                                                   th:text="${category.getName()}"
                                                                   th:value="${category.getName()}"/>
                                                        </label>
                                                    </div>

                                                    <div class="p-1 pb-0">
                                                        <div th:each="item : ${category.getItems()}">
                                                            <label id="controls" class="btn btn-secondary">
                                                                <input th:classappend="${'category_' + category.getId()}"
                                                                       class="category"
                                                                       type="checkbox" name="itemsDto" autocomplete="on"
                                                                       th:text="${item.getName()}"
                                                                       th:value="${item.getName()}"/>
                                                            </label>
                                                        </div>
                                                        <hr/>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    </br>
                                </div>
                                <!--Сортировка по дате-->
                                <div class="row">
                                    <H6>Сортировать по дате</H6>
                                </div>
                                <div class="row">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="typeOfDateSort" id="options20" autocomplete="off"
                                                   value="New"/> Сначала новые
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="typeOfDateSort" id="options21" autocomplete="off"
                                                   value="Old"/> Сначала Старые
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    </br>
                                </div>
                                <!--кнопка применения фильтра-->
                                <div class="row">
                                    <button type="submit" class="btn btn-outline-success">Применить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--Кнопки выхода-->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Выход
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" th:href="${'/shop/' + shop.getId()}">Назад</a>
            <a class="dropdown-item" th:href="@{/}">На главную</a>
        </div>
    </div>

</nav>

<!-- Общий контейнер -->
<div class="container-fluid bg-light">
    <div class="row">
        <!-- Информация о юзере -->
        <div class="col-sm-12 bg-light"><br/><br/><br/>
            <h2>Сводная таблица отчёта по продажам </h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col border bg-light">
                        <p><h6></h6></p>
                    </div>
                    <div class="w-100"></div>
                    <div class="col border bg-white" id="result">
                        <br/>
                        <table class="table table-striped bg-white text-dark">
                            <thead>
                            <tr>
                                <th>Дата заказа</th>
                                <th>ID товара</th>
                                <th>Наименование товара</th>
                                <th>Категория товара</th>
                                <th>Себестоимость товара</th>
                                <th>Цена товара</th>
                                <th>Количество проданного товара</th>
                                <th>Прибыль</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div>
                                <tr th:each="sales : ${salesHistory}">
                                    <td th:text="${simpleDateFormat.format(sales.getOrderDate.getTime)}"></td>
                                    <td th:text="${sales.getItem.getId}"></td>
                                    <td th:text="${sales.getItem.getName()}"></td>
                                    <td th:text="${sales.getItem.getCategory().getName()}"></td>
                                    <td th:text="${sales.getBasePrice}"></td>
                                    <td th:text="${sales.getPrice}"></td>
                                    <td th:text="${sales.getCount}"></td>
                                    <td th:text="${(sales.getPrice() - sales.getBasePrice()) * sales.getCount}"></td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script defer>

    $('.checkbox_parent').click(function () {
        if ($(this).is(':checked')) {
            $('.category_' + $(this).data('id')).prop('checked', true);
        } else {
            $('.category_' + $(this).data('id')).prop('checked', false);
        }
    });
</script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>