<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<head>
  <title>Регистрация нового пользователя</title>
</head>
<body>
<form action="#" th:action="@{/signup}" th:object="${user}" method="post">
  <table>
    <tr>
      <td><label for="emailId">Email</label></td>
      <td><input th:field="*{email}" type="text" name="emailId" required></td>
    </tr>
    <tr>
      <td><label for="password">Password</label></td>
      <td><input th:field="*{password}" type="password" name="password" required></td>
    </tr>
    <tr>
      <td><input type="reset" value="Очистить форму"/></td>
      <td><input type="submit" value="Зарегистрироваться"></td>
    </tr>
  </table>
</form>
</body>
</html>
